.navbar {
    background-color: #022256;
    font-family: 'Raleway', sans-serif;
    border-radius: 6px;
    font-family: 'Chicle', cursive;
}

/*font-family: 'Oxygen', sans-serif;*/
h1 {
    color:#F08080;
    text-align: start;
    font-size: 40px;
    padding: 10px;
    background-color: #02307a;
    border-radius: 9px;
}

#links {
    float: left;
}

ul li {
    display: inline;
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
}

ul li:hover {
    color: #ff029a;
}

h2 {
    color:#F08080;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Chicle', cursive;*/
    text-align: center;
    font-size: 35px;
    padding: 10px;
    background-color: #022256;
    border-radius: 9px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 10px;
    float: left;
}

img {
    padding: 12px;
    width: 350px;
    height: 350px;
    border-radius: 7px;
}

form {
    font-family: 'Raleway', sans-serif;
}


footer {
    clear: both;
    font-size: 30px;
    font-family: 'Chicle', cursive;
    background-color:rgba(10, 39, 58, 0.671);
    color: rgb(119, 201, 201);
    position: sticky;
    width: 100%;
    height: 80px;
    padding: 20px;
    text-align: center
}